#header
  .wrapper
  
    #logo
      %h1 Fuselage
  
    #user_nav
      %ul
        %li join
        %li sign in
    
    #main_nav
      %ul
        %li home
        %li portfolio
        %li services
        %li about